[Unit]
Description=Duty Management System Service
After=network.target

[Service]
User=__DMS_USER__
Group=__DMS_GROUP__
WorkingDirectory=__DMS_DIR__
ExecStart=/bin/bash __DMS_DIR__/run.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
