[Unit]
Description=Duty Management System Service
After=network.target

[Service]
User=Charles
Group=Charles
WorkingDirectory=/opt/DMS
ExecStart=/bin/bash /opt/DMS/run.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
